class Knightwatch < Formula
  desc "System Monitoring tool"
  homepage "https://github.com/YofaGh/knightwatch"
  version "__VERSION__"
  license "MIT"

  on_macos do
    on_arm do
      url "https://github.com/YofaGh/knightwatch/releases/download/__TAG__/knightwatch-aarch64-apple-darwin.tar.gz"
      sha256 "__SHA_DARWIN_ARM64__"
    end
    on_intel do
      url "https://github.com/YofaGh/knightwatch/releases/download/__TAG__/knightwatch-x86_64-apple-darwin.tar.gz"
      sha256 "__SHA_DARWIN_X86_64__"
    end
  end

  on_linux do
    on_arm do
      url "https://github.com/YofaGh/knightwatch/releases/download/__TAG__/knightwatch-aarch64-unknown-linux-gnu.tar.gz"
      sha256 "__SHA_LINUX_ARM64__"
    end
    on_intel do
      url "https://github.com/YofaGh/knightwatch/releases/download/__TAG__/knightwatch-x86_64-unknown-linux-gnu.tar.gz"
      sha256 "__SHA_LINUX_X86_64__"
    end
  end

  def install
    bin.install "knightwatch"
  end

  test do
    system "#{bin}/knightwatch", "--version"
  end
end
